RCRGame/RCRGame/Assets/Xml/Ui/Options/GlobalUnityEditorUIConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Global">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CanvasOption">
					<xs:complexType>
						<xs:attribute name="CanvasRenderMode" type="xs:unsignedByte" use="required" />
						<xs:attribute name="PixelPerfect" type="xs:boolean" use="required" />
						<xs:attribute name="CameraID" type="xs:string" use="required" />
						<xs:attribute name="OrderInLayer" type="xs:unsignedByte" use="required" />
						<xs:attribute name="AdditionalCanvasShaderChannels" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="CanvasScalarOption">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReferenceResolution">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="value" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="UIScaleMode" type="xs:unsignedByte" use="required" />
						<xs:attribute name="ScreenMatchMode" type="xs:unsignedByte" use="required" />
						<xs:attribute name="Match" type="xs:decimal" use="required" />
						<xs:attribute name="ReferencePixelsPerUnit" type="xs:decimal" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="GraphicRaycastOption">
					<xs:complexType>
						<xs:attribute name="IgnoreReveredGraphics" type="xs:boolean" use="required" />
						<xs:attribute name="BlockingObjects" type="xs:unsignedByte" use="required" />
						<xs:attribute name="BlockingLayerMask" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>