RCRGame/RCRGame/Assets/Xml/Ui/Navigation/main.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="navigation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fragment">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="action">
								<xs:complexType>
									<xs:attribute name="id" type="xs:string" use="required" />
									<xs:attribute name="destination" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required" />
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="label" type="xs:string" use="required" />
						<xs:attribute name="layout" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="rcr" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>